.todo {
  @apply w-full p-3 flex items-center justify-between bg-white cursor-pointer font-medium;
  transition: background-color 0.5s ease;
  border-radius: 4px;
}

.todo svg {
  color: gray;
  transition: all 0.5s ease;
}

.todo input {
  transition: all 1s ease;
  transition-delay: 0.5s;
}

.todo svg:hover {
  transform: scale(1.2);
}

.todoCompleted {
  background: transparent;
  @apply w-full p-3 flex items-center justify-between cursor-pointer;
  border: 1px solid gray;
  color: gray;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.todoCompleted svg {
  color: gray !important;
  transition: all 0.5s ease;
}

.todoCompleted input {
  background: transparent;
}

.todoIcon {
  font-size: 1.5rem;
  z-index: 3;
}

.todoIcon:hover {
  @apply text-green-500;
}

.todoDeleteIcon {
  font-size: 1.2rem;
}

.todoDeleteIcon:hover {
  @apply text-red-800;
}

.todoEditIcon {
  font-size: 1.2rem;
}

.todoEditIcon:hover {
  @apply text-green-500;
}

.todoOutput {
  cursor: pointer;
  min-width: 300px;
}

@media (max-width: 490px) {
  .todoOutput {
    min-width: 125px;
    max-width: 125px;
  }
}

@media (min-width: 1280px) {
  .todoOutput {
    min-width: 550px;
  }
}

.todoOutput:read-only {
  border: none;
  outline: none;
}

.todoOutput:not(:read-only) {
  transition-delay: 0s;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}
